html, body {
  height: 100%;
  width: 100%;
}
 html, body, section, article, h1, h2, h3, h6, p, strong, em, a, select, ul, li, input,a textarea, button, img {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  box-sizing: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;

  font-size: 14px;
  font-weight: 300;
  font-family: "proxima-nova", sans-serif;
  list-style-type: none;
}

h1 {
  font-family: "freight-text-pro";
  font-size: 45px;
  font-style: italic;
  color: #8cb3e1;
}

p {
  font-family: "freight-text-pro";
  font-size: 28px;
  color: #a6a6a6;
}

.introduction {
  text-align: center;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin: 10% auto;
}

.profile-pic {
  width: 135px;
  height: 135px;
  background-image: url('../img/profile_picture.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 0 auto;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 135px;
  margin: 0 auto;
}

.icons img {
  cursor: pointer;
}

hr {
  border: 0;
  border-top: 3px solid #8cb3e1;
  width: 50px;
}

.projects {
  width: 50%;
  height: 175%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project {
  height: 33%;
}
.project-img-container {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
