html, body {
  height: auto;
  width: 100%;
}
 html, body, section, article, h1, h2, h3, h6, p, strong, em, a, select, ul, li, input,a textarea, button, img {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  box-sizing: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;

  font-size: 14px;
  font-weight: 300;
  font-family: "proxima-nova", sans-serif;
  list-style-type: none;
}

h1 {
  font-family: "freight-text-pro";
  font-size: 45px;
  font-style: italic;
  letter-spacing: 1.7px;
  color: #8cb3e1;
}

p {
  font-family: "freight-text-pro";
  font-size: 28px;
  letter-spacing: 0.5px;
  color: #a6a6a6;
}

.introduction {
  text-align: center;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin: 10% auto;
}

.introduction h1 {
  margin: 20px auto;
}
.profile-pic {
  width: 135px;
  height: 135px;
  background-image: url('../img/profile_picture.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 0 auto;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 135px;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 28px;
}

.icons img {
  cursor: pointer;
}

a button {
  border: 2px solid #8cb3e1;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  font-style: normal;
  font-size: 18px;
  color: #8cb3e1;
  line-height: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

button:hover {
  border: 2px solid white;
  color: white;
  transition-duration: 0.4s;
  background-color: #8cb3e1;
}

hr {
  border: 0;
  border-top: 3px solid #8cb3e1;
  width: 50px;
}

.projects {
  width: 50%;
  margin: 10% auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project {
  height: 402px;
}
.project-img-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.overlay:before {
  position: absolute;
  content: " ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
}

.overlay:hover:before {
  display: block;
  /*background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);*/
  background: rgba(0, 0, 0, 0.7);
}

.project-img-container:hover .image-description {
  cursor: pointer;
  visibility: visible;
  z-index: 1000;
}

.image-description {
  visibility: hidden;
  color: white;
  font-family: "proxima-nova";
  padding: 50px;
}

.project a {
  font-size: 22px;
  color: #8cb3e1;
  letter-spacing: 0.4px;
  display: inline-block;
  padding-top: 20px;
  position: relative;
  text-decoration: none;
}

.project a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #8cb3e1;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.project a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/*.project a:hover {
  text-decoration: underline;
}*/

footer {
  text-align: center;
  height: 83px;
}

footer span {
  margin-top: 28px;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #c2c2c2;
}

footer hr {
  border: 0;
  border-top: 1px solid #e5e5e5;
  width: 80%;
  margin: 0 10% 28px 10%;
}

/* Project pages */
header {
  text-align: center;
  background-color: #fafafa;
}

header h1 {
  color: #b6b6b6;
  font-size: 36px;
  padding-top: 29px;
  padding-bottom: 33px;
}

header h1:hover {
  color: #8e8e8e;
}

h1.project-h1 {
  font-size: 36px;
  letter-spacing: 1.4px;
  font-weight: 700;
  padding-bottom: 10px;
}

.project-subheader {
  font-size: 20px;
  letter-spacing: 0.8px;
  color: #7c7c7c;
}

.project-content {
  text-align: center;
  width: 90%;
  margin: 10% auto;
}

.project-before-pics, .project-after-pics {
  width: 55%;
  margin: 0 auto;
}

a .project-h1{
  padding: 10px 0;
  color: #8cb3e1;
}

a .project-h1::after {
  background: #7c7c7c;
	/*position: absolute;*/
	top: 100%;
	left: 0;
	content: '';
	width: 100%;
	height: 1px;
	opacity: 0;

	transition: opacity 0.3s, transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
}

a .project-h1:hover::after,
a .project-h1:focus::after {
	opacity: 1;

	transform: translateY(0px);
	-moz-transform: translateY(0px);
	-webkit-transform: translateY(0px);
}

.project-intro {
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.4px;
  color: #a6a6a6;
  font-family: "freight-text-pro";
  margin: 50px auto;
}

.project-intro a, .introduction a {
  font-size: 24px;
  font-style: italic;
  line-height: 40px;
  letter-spacing: 0.4px;
  color: #8cb3e1;
  font-family: "freight-text-pro";
  cursor: pointer;
}

.project-pics {
  display: flex;
  justify-content: space-between;
}

.project-page-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
  width: 30%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.bottom-nav-bar {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.bottom-nav-bar a {
  font-family: "freight-text-pro";
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  line-height: 1.04;
  letter-spacing: 0.4px;
  color: #8cb3e1;
  margin-right: auto;
}

.bottom-nav-bar p {
  letter-spacing: 0.4px;
  line-height: 1.04;
  color: #a6a6a6;
  font-size: 20px;
  font-family: "proxima-nova";
  font-weight: 100;
}
