// Colors
$default: #4D4D4D;
$kc-orange: #FFAD59;
$navcolor: rgba(107,148,148,0.9);
$venture-cyan: #7DB1B1;
$moad-green: #A4AE9B;
$guitar-center-blue: #7889A7;
$gravity-pink: #DE5998;

// Typography
$nav-links: 1.5em;
$description-title: 1.4em;
$description-tags: 1.1em;
$description: 1.2em;
$contact-description: 1.1em;
$bts-button: 1.2em;
$bts-titles: 1.6em;

$description-mobile: 1.1em;


// Navigation




